html, body, ul {
	padding: 0;
	margin: 0;
	}
html {
	font-size: 1em;
	}
body {
	font-size: 100%;
	}
a img, :link img, :visited img, a:active, a:visited{
	border: 0;
	}
a {
    color: inherit;
    text-decoration: none;
    }